bigfloat==0.4.0
cycler==0.10.0
kiwisolver==1.2.0
lazy-property==0.0.1
llvmlite==0.33.0
matplotlib==3.2.2
numba==0.50.0
numpy==1.19.0
palettable==3.3.0
pandas==1.0.5
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
scientific-string==0.1.0
scipy==1.5.0
seaborn==0.10.1
six==1.15.0
text-stream==0.2.0
